version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: product_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local